@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.sector{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    /*height: 95vh;*/
}

.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 50%;
    padding: 1.5%;
}
nav a{
    text-decoration: none;
    margin-right: 5px;
    color: #000;
}
.special-btn{
    color: #3D8361;
    border: 2px solid #3D8361;
    border-radius: 25px;
    padding: 10px;
}
.logo{
    display: inline;
    font-size: 1.5em;
}
.logo-img{
    width: 50px;
    height: 50px;
}


.hero-banner{
    background-color: #3D8361;
    color: #fff;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10%;
    height: 84vh;
}
.banner-text h2{
    font-size: 2.5em;
}
.hero-img{
    border: 1px solid transparent;
    border-radius: 15px;
}
.hero-animation{
    color: #fff;
    animation: changeColor 8s infinite;
}
@keyframes changeColor {
    0%{color: #fff;}
    25%{color:#59CE8F;}
    50%{color: #D6CDA4;}
    100%{color: #fff;}
}
.action-btn{
    padding: 10px;
    border: 1px solid #D6CDA4;
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
    background-color: #D6CDA4;
    font-size: 1.1em;
}


.item-selector{
    background-color: #3D8361;
}
.item-selector h3{
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
}
.item-pickers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex: 35%;
}
.item-picker-1{
    margin: 40px;
    border: 1px solid #D6CDA4;
    border-radius: 25px;
    padding: 60px;
    background-color: #D6CDA4;
}
.item-list{
    color: #fff;
    list-style: square;
}
.shop-all a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3D8361;
    font-size: 1.3em;
    text-decoration: none;
}
.shop-all a:hover{
    text-decoration: underline #3D8361;
}
.shop-now{
    padding: 10px;
    border: 1px solid #3D8361;
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
    background-color: #3D8361;
    font-size: 0.9em;
}
.item-header{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 900;
}


.store-pickers{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    flex-wrap: wrap;
    flex: 35%;
    margin-top: 50px;
}
.store-picker{
    width: 300px;
    height: 75px;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #3D8361;
    border-radius: 15px;
}
.store-picker:hover{
    border: 1px solid #D6CDA4;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    background-color: #D6CDA4;
    width: 300px;
    height: 75px;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.store-picker img{
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 1px solid transparent;
    border-radius: 100%;
}
.store-selector h3{
    color: #3D8361;
    font-size: 1.3em;
    text-transform: uppercase;
}


.why-us-reasons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.reasons h3{
    color: #3D8361;
    font-size: 1.3em;
    text-transform: uppercase;
}
.why-us-item:hover{
    margin-bottom: 25px;
}
.why-us-item{
    border: 2px solid #EEF2E6;
    background-color: #EEF2E6;
    padding: 20px;
    margin: 20px;
}
.why-us-item h3{
    text-transform: capitalize;
    color: #59CE8F;
    font-size: 1.3em;
    margin-bottom: 10px;
}
.why-us-item img{
    width: 300px;
    height: 200px;
}


.farm-drop img{
    width: 600px;
    height: 400px;
    border: 1px solid transparent;
    border-radius: 25px;
}
.farm-display{
    display: flex;
    justify-content: space-around;
}
.farm-display h4{
    text-align: left;
    font-size: 1.3em;
    color: #3D8361;
} 
.farm-display p{
    text-align: left;
    font-size: 1.1em;
}
.farm-text-display{
    margin-left: 50px;
    margin-top: 30px;
}
.farm-text-display a{
    color: #3D8361;
    text-decoration: none;
    font-size: 1.1em;
    padding: 3px;
    text-transform: capitalize;
}
.farm-text-display a:hover{
    text-decoration: underline #3D8361;
}
.farm-drop h3{
    color: #3D8361;
    font-size: 1.4em;
    text-transform: uppercase;
}






.accomplishments{
    /*background-color: #EEF2E6;*/
    padding: 65px;
    text-align: center;
}
.accomplishments h3{
    color: #59CE8F;
    font-size: 1.5em;
    text-transform: uppercase;
}
.total{
    text-align: center;
    margin: 30px;
    font-size: 1.2em;
}
.company-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex: 35%;
}

.footer{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #59CE8F;
    flex-wrap: wrap;
    flex: 35%;
}
ul{
    list-style: none;
}
.footer h4{
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 15px;
}
.footer li{
    margin: 5px;
    color: #fff;
}
.icons{
    display: flex;
    justify-content: space-between;
}
.icons i{
    font-size: 1.2em;
}



/*AUTHENTICATION PAGE STYLES*/
.log-container{
    background-color: #EEF2E6;
}
.sign-in-menu{
    display: grid;
    grid-template-columns: repeat(2, 300px);
    padding: 10%;
    margin-left: 10%;
    
}
img{
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
a{
    text-decoration: none;
    color: #3D8361;
}
.register{
    font-size: 0.9em;
}
.forgot-password{
    font-size: 0.8em;
}
.submit{
    font-size: 0.9em;
    border: 1px solid #3D8361;
    color: #fff;
    background-color: #3D8361;
    padding: 10px;
}
.sign-in-tab{
    border: 2px solid transparent;
    background-color: #fff;
    align-items: center;
    text-align: left;
    padding-top: 40px;
    padding-left: 50px;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
